<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<div id="wrapper">
    <!-- Sidebar Start -->
    <ul th:replace="fragments.html :: sidebar (currentMenu=${currentMenu})"></ul>
    <!-- Sidebar End -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar Start -->
            <nav th:replace="fragments.html :: topbar"></nav>
            <!-- Topbar End -->

            <!-- Main Start -->
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h1 class="h3 mb-0 text-gray-800">All Projects</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Projects</li>
                    </ol>
                </div>
                <div class="projects__error d-none">
                    <img src="/img/error.svg" alt="image" class="projects__error-image mb-2">
                    <h3 class="text-gray-800 font-weight-bold">Empty Projects!</h3>
                    <p class="lead text-gray-800 mx-auto">You have to add a project</p>
                    <a style="display: flex; align-items: center; font-size: 1.1rem" sec:authorize="isAuthenticated()" href="/project/addForm">Add Project&nbsp;<i class="fas fa-chevron-right"></i></a>
                </div>

                <div class="row" id="projects__container"></div>
            </div>
            <!--- Main End -->
        </div>
        <!-- Footer Start -->
        <footer th:replace="fragments.html :: footer"></footer>
        <!-- Footer End -->
    </div>
</div>

<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0 font-weight-bold text-primary">Delete Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Project?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteSubmit" data-dismiss="modal">delete project</button>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to top -->
<a th:replace="fragments.html :: scroll-btn"></a>

<!-- Bhhan Toast -->
<div th:replace="fragments.html :: bhhan-toast"></div>
<span th:if="${security_exception != null}" class="d-none notification-container" th:text="${security_exception}"></span>

<!-- Script files -->
<div th:replace="fragments.html :: script"></div>
<script src="/js/project/dto/ProjectDto.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var admin = [[${admin}]]
    var basicAuthToken = [[${basicAuthToken}]]
    /*]]>*/

    var notification = document.querySelector('.notification-container');
    if(notification){
        var toast = App.Toast({target: '.bhhan-toast', text: '.bhhan-toast__text'});
        toast.show(notification.textContent);
    }

    document.addEventListener('DOMContentLoaded', function(){
        var fetchUrl = '/v1/projects?page=1&size=20&sort=id,desc';
        var deleteUrl = '/v1/projects';

        App.ProjectDto.ProjectRes({
            updateButton: 'updateProject',
            deleteButton: 'deleteProject',
            deleteSubmit: '#deleteSubmit',
            fetchUrl: fetchUrl,
            updateUrl: '/project/updateForm',
            deleteUrl: deleteUrl,
            container: '#projects__container',
            redirectUrl: '/project/board',
            emptyProject: '.projects__error',
            admin: admin === "admin",
            basicAuthToken: basicAuthToken
        });
    });
</script>
</body>
</html>
